* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    
}
 a{
    color: inherit;
} 
ul{
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}
h1, h2, h3, p {
    margin: 0 auto;
}
button {
    background: red;
    color: white;
    padding: 0;
    outline: none;
    border: 1px solid transparent;
}
.wrapper {
    background-image: url(./pictures/back.jpg);
    background-repeat: no-repeat;
    background-position-x: center; 
}

.container {
    margin: 0 auto;
    width: 1150px;
    padding: 0px;
}

.header {
    height: 120px;
    margin-top: 0px;
    margin-bottom: 82px;
    display: flex;   
    padding: 0 0 0 0;
    justify-content: start;
}

.logo {
    margin-top: 0px;
    margin-right: 79px;
    margin-left: 5px;
    
}
.breadcrumps{
    margin-top: 7px;
}

.breadcrumps__item {
    margin-right: 51px;
    display: inline-flex;
    vertical-align: middle;
}

.breadcrumps__item:last-child {
    margin-right: 0;
}
.breadcrumps__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-style: normal;
}

.contacts{
    margin-top: 0px;
    margin-left: 522px;
    font-style: normal;
    text-align: right; 
    
}
.contacts-menu {
    position: relative;
    transition: opacity .5s;

}
.contacts-menu:hover .contacts-menu__schedule {
    opacity: 1;
}
.contacts-menu__phone {
    text-decoration: none;
    font-size: 26px;
    
    
}
.contacts-menu__workhours-title {
    text-decoration: underline;
    font-size: 13px;
    line-height: 5px;
    
}
.contacts-menu__schedule {
    background: #EDEDED;
    margin-top: 13px;
    width: 160px;
    height: 70px;
    text-align: center;
    margin-left: 30px;
    border-radius: 9px;
    position:absolute;
    opacity:0;
    top:100%;  
    transition: opacity .5s;
}
.contacts-menu__schedule:before {
    content: "";
    display:block;
    height: 20px;
    left: 0;
    right:0;
    top:-19px;
    position: absolute;

}
.contacts-menu__schedule-list{
    padding: 13px;
}
.contacts-menu__schedule-item-top, .contacts-menu__schedule-item-bottom {
    font-size: 13px;
    color:black;
    line-height: 21px;
}
.contacts-menu__schedule-item-top {
    font-weight: bold;
}
.main-content{
    display: block;
    align-items: center;
}

.preview {
    width: 520px;
    margin-top: 0px;
    margin-bottom:250px;

}
.preview__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 97px;
    margin-bottom: 23.5px;
    margin-top: -1px;
    margin-left: 4px;
}
.preview__text {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 29.5px;
    margin-left: 5px;
}
.preview__button{
    border-radius: 35px;
    height: 55px;
    width: 168px;
    font-weight: bold;
    margin-left: 4px;
}

.tours-block__title{
margin-bottom: 53px;

}
.tours-block__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin-left: 9px;
}
.tours-block__item:last-child {
    margin-right: 0;
}
.tours-block_pic{
    margin-bottom: -2px;
}
.country {
    margin-bottom: 133px;
    margin-left: 3px;
    display: flex;
}
.country__item{
    width: 362px;
    margin-right: 28px;
    height: 449px;
    background: #FFFFFF;
    color: black;
    padding: 0 16px 0 22px;
    
}
.country__item:last-child {
    margin-right: 0px;
}

.country__pictures{
    margin-left: -22px;
    margin-top: 0px;
}
.country__details {
    width: 324px;
    display: flex;
    align-items: baseline;
}

.country__input {
    font-size: 16px;
    color: #666666;
    margin: 0;
}
.country__input--text {
    margin-left:5px;
    margin-right:33px;
    
}
.country__input--text:last-child {
    margin-right:0;
}
.country__input--pic {
    margin-left: 7px;
    margin-top: -1px;
}
.country__content{
    padding: 27px 0 0;
}
.country__subtitle{
    font-size: 26px;
    font-weight:bold;
    margin-bottom: 18px;
   
}
.country__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin-top: 22.5px;
    color: #303030;
}
.country__button{
    border-radius: 35px;
    height: 55px;
    width: 135px;
    border-color: #F5170E;
    color:#F5170E;
    background: transparent;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-left: 2px;
    
}
.country__button--active {
    border: 1px solid transparent;
    color: white;
    background: #F5170E;
    
}
.offers__list {
    display: flex;
    padding:0px;
    margin: 0px;

}
.offers__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 52px;
    margin-left: 5px;
}
.offers__item {
    display: flex;
    align-items: flex-end;
    width: 557px;
    height: 394px;
    margin:  0 25px 0 2px;
    padding:0;
    position: relative;
}
.offers__item--left {
    background: url(./pictures/plain.png);
}
.offers__item--right {
    background: url(./pictures/Surfer.png);
}

.offers__item:last-child {
    margin-right: 0px;
}
.offers__content{
    margin: 0 32px 47px 32px;
}
.offers__date{
    font-size: 14px;
}
.offers__date-year, .offers__date-month{
    display: inline-block;
}
.offers__text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 14.5px;
}
.offers__line {
    font-size: 16px;
}
.paginator{
    display: flex;
    justify-content: center;
    margin: 58.5px 0 151.5px 2px; 
    
}

.paginator__list {
    display: flex;
}

.paginator__link {
    color: #ffffff;
    background: transparent;
    padding:7px 12px;
    border-radius: 100%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition:  .3s;
}
.paginator__link:hover {
    background: #ffffff;
    color: #F5170E;
}
.paginator__display {
    margin-right: 25px;
}

.about {
    display: flex;
    align-items: flex-start;
}

.about-us__picture {
    margin-left: 4px;  
}
.about-us{
    background: url(./pictures/mountains.png);
    display: flex;
    align-items: flex-start;
    width: 785px;
    height: 455px;
    color:black;
    margin-left: -136px;
    margin-top: 96px;
}  

.about-us__content{
    color:black;
    margin: 70px 0 0 83px;
}
.about-us__content-title{
    font-size: 36px;
    font-weight: bold;
}
.about-us__content-text{
    font-size:16px;
    margin-top: 37px;
    width: 502px;
    line-height: 27px;
}
.about-us__batton {
    border-radius: 35px;
    height: 55px;
    width: 168px;
    font-weight: bold;
    margin-top: 69px;
}
.footer{ 
    display:flex;
    margin-top: 53px;
    height: 146px;
    justify-content: space-between;
    border-top: solid  1px;
    border-top-style: groove;
    line-height: 50%;
    align-items: center;
    

}
.logo-footer{
    margin:  45px 0px 56px 3px;
}
.menu {
    margin:  68px 10px 68px -42px;
    
}
.menu__item {
    margin-right: 51px;

}
.menu__item :last-child{
    margin-right: 0px;
}
.menu__list {
    display:flex;
    align-items: center;

}
.menu__link{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-style: normal;
}
.social-media {
    margin: -3px 0px 0px  122px; 
}
.social-media__item {
    margin-right: 6px;
    display: inline-flex;
    vertical-align: middle;
}
.social-media__item:last-child {
    margin-right: 0;
}
.social-media__icon--telegram {
    width:36px;
    height: 36px;
    background: url('./pictures/socials.png') -122px -10px;
}
.social-media__icon--vk {
    width:36px;
    height: 36px;
    background: url('./pictures/socials.png') -66px -10px;
}
.social-media__icon--fb {
    width:36px;
    height: 36px;
    background: url('./pictures/socials.png') -178px -10px;
}
.social-media__icon--in {
    width:36px;
    height: 36px;
    background: url('./pictures/socials.png') -10px -10px;
}

.contacts-footer__comment {
    font-size: 11px;
    font-style: normal;
    text-align: right; 
    margin-bottom: 13px;
}
.contacts-footer__phone{
    font-size: 26px;
    line-height: 20px;
    font-style: normal;
    text-align: right; 
    text-decoration: none;
    margin-right: 7px;
    margin-left: -36px;
    
}
.header-content {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header--services, .header--reviews {
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 29px;
   

}
.header-name{
    margin:0 0 97px 0;
    
  
}
.breadcrumps-middle__list{
    margin-bottom: 19px;
}
.wrapper--services, .wrapper--reviews {
    background: white;
    overflow-x: hidden;
}
.top {
    background-image: url(./pictures/headline.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    display:flex;
    flex-direction: column;
}

.breadcrumps-middle {
    margin-right: 0px;
}
.breadcrumps-middle__item{
    display: inline-block;
    vertical-align: middle;
    color: #9A9A9A;
}
.breadcrumps-middle__link {
    color: #9A9A9A;
    font-size: 14px;
    
}
.breadcrumps-middle__link--active {
    font-weight: bold;
}

.content-services {
    background: white;
    margin-top: 98px;
   
}
.trips {
    display: flex;
    padding: 0px 0px 0 0px;
    color: #303030;
    flex-direction: column;
    justify-content: space-between;
}
.trips__item--top {
    margin-bottom: 49px;
}
.trips__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 56px;
}
.trips__content-text {
    margin-top: -17px;
    line-height: 27px;
}
.trips__content-title {
    margin-top: -10px;
}
.trips__pic {
    display: flex;
} 

.trips__button {
    border-radius: 35px;
    height: 55px;
    width: 168px;
    font-weight: bold;  
    border-color: #F5170E;
    color: #F5170E;
    background: transparent;  
    
}
.trips__button--active{
    background: #F5170E;
    color: white;
    border: 1px solid transparent;
    
}
.trips__content-title{
    font-size: 36px;
    font-weight: bold;
    color: black;
}
.paginator-services {
    margin:0;
    padding: 69px 0 90px 0; 
    background: white;
    color:black;
    transition:  .3s;
}
.paginator__link-services {
    color: black;
}
.paginator__link-services:hover {
    color: #ffffff;
    background: #F5170E;
}


.header-name {
    font-size: 72px;
}
.partners {
    color: #1A1B1E;
    display: flex;
    justify-content: center;
    background: #F4F5F5;
    padding: 100px 0 110px 0;  
   
}
.partners__title {
    padding: 10px 10px 10px 10px;
}
.partners__list {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -80px;
}
.partners__item {
    display: flex;
    flex-basis: 25%;
    margin:0;
    margin-bottom: 80px;
}
.partners__link {
    margin: 0;
}
.partners__icon--pobeda{
    margin: 2px 0px 10px 31px;
}
.partners__icon--s7{
    margin: -6px 0px 10px 45px;
}
.partners__icon--letsfly{
    margin: -20px 0px 10px 12px;
}
.partners__icon--lufthansa{
    margin: -2px 0px 10px 46px;
}
.partners__icon--airbaltic{
    margin: -20px 0px 0px 32px;
}
.partners__icon--pegasus{
    margin: -11px 0px 0px 7px;
}
.partners__icon--ural{
    margin: -4px 0px 0px -39px;
}
.partners__icon--pegas {
    margin: -29px 0px 0px 18px;
}
.partners__title{
    margin: -23px 1200px 5px 307px;
    font-size: 48px;
    font-weight: bold;
}

.footer--services {
    background: black;
    border: transparent 0px;
    justify-content: center;
    margin-top:0;
}

.logo-footer--services {
    margin-top: 49px;
}

.menu-list--services {
    font-size: 14px;
    margin-left: 123px;
    padding:0px;
}

.social-media--services {
    margin: -10px 0 0 225px;

}
.contacts-footer__phone--services{
    margin-left: 71px;
    margin-right: -0px;
    margin-top: -24px;  
}

.container-home {
    background-image: url(./pictures/home.png);
    background-repeat: no-repeat;
    background-position-x: center; 
    margin:0 auto;
    display: flex;
    height: 1920px; 
    justify-content: space-around;
    align-items: center;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 279px;
    height: 251.05;
    animation: animation 1.5s linear infinite;

}
.home__text {
    margin-bottom: 51.5px;
    align-self: center ;
    font-size: 18px;
}
.home__button {
    align-self: center ;
    border-radius: 35px;
    height: 55px;
    width: 168px;
    font-weight: bold;
    margin-left: 4px;
}
.reviews {
    color:black;
}

@keyframes animation {
    0% {
        opacity: 0;
    }
    25% {
        transform:scale(130%)
    }
    50%{
        transform:scale(90%)
    }
    75% {
        transform:scale(130%)
    }
    90%{
        transform:scale(95%)
    
    }
    100% {
        transform:scale(100%)
    }
}

.reviews {
    margin-top: 98px;
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 76px;
}
.review {
    display: inline-flex;
    flex-direction: column;
    background-color: #F4F5F5;
    padding: 50px 31px 32.5px 31px;
    
}
.review__header {
    display: flex;
    align-items: center;
    
}
.avatar{
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}
.reviews__item {
    margin-bottom: 17px;
}
.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: 12px;
    margin-left: 23px;
    margin-top:14px;
}
.review__user:after {
    content: url(./pictures/vkblue1.png);
    height: 30px;
    margin-left: 4px;;
}
.review__user--active {
    color:#2E77A4;
    text-decoration: underline;

}
.review__user-tag{
    display:flex;
    align-items: start;
   
}
.tag {
    font-size: 13px;
    color: #303030;
    padding: 9px 17px;
    border-radius: 50px;
    background:#E7E7E7;
    margin-left: 24px;
}
.tag--active{
    background:#B9EAE4;
    ;
}
.review__title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 20px;
}
.reviews__content-text {
    color:#818181;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 48.5px ;
}
.review__date {
    font-size: 14px;
}
.review__content {
    display: flex;
    flex-direction: column;
}
.review__date {
    display: flex;
    justify-content: start;
}
.review__date-month{
    margin-right: 5px;
}
.paginator--reviews {
    padding-top: 0px;
}
.separator {
    background: url(./pictures/rectangle.png);
    min-height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 69px;
}
.separator__content {
    display: flex;
    max-width: 70%;
    
}
.separator__title {
    margin-top: 123px;
    max-width: 570px;
    font-size: 48px;
    font-weight: bold;
    
}
.separator__img-picture {
    min-height: 363px;
    padding-top: 21px;
    margin-left: 52px;
  
}
.inner-section {
    background:#F4F5F5;
 
}
.inner-section__title {
    color: #1A1B1E;
    font-size: 48px;
    margin-bottom: 57px;
}
.form__row {
    display: flex;
    margin-bottom: 30px;
}
.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}
.form__input--textarea {
    color: #666666;
    height: 232px;
}
.form__input:last-child {
    margin-right: 0px;
}
.controls__elem {
    cursor: pointer;
}
.controls__checkbox:checked~.controls__tag {
    background: #B9EAE4;  
}
.controls__checkbox {
    display:none;
}
.form__controls{
    display: flex;
    background: #F4F5F5;
    margin-bottom: 24px;
}
.form__controls-title {
    width: 35%;
    color: #1A1B1E;
    font-size: 18px;
    margin-right: 48px;
}
.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top:-10px;
    margin-left:7px;
}
.background {
    background: #F4F5F5;
}
.controls__item {
    margin-bottom: 9px;
    margin-right: 7px;
}

.controls__item:last-child {
    margin-right:0px;
}

.form__btns {
    border-radius: 35px;
    height: 55px;
    width: 168px;
    font-weight: bold;  
    border-color: #F5170E;
    font-size: 14px;
    border: 1px solid transparent;
    color: white;
    margin-right: 17px;
    cursor: pointer;

}
.form__btns:last-child {
    margin-right: 0px;

}
.form__btns--red{
    background: #F5170E;  
}
.form__btns--black{
    background:#2B2B2B;  
}
.form__buttons{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 96px;
}